ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: orange;
  box-shadow: 4px 2px 5px white;
  color: whitesmoke;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  list-style: circle;
  cursor: pointer;
}

.navBar button {
  background: transparent;
  border: 2px solid whitesmoke;
  color: white;
  padding: 0.4rem 0.5rem;
  display: flex;
  width: 150px;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
.image-wrapper {
  background-color: white;
    width: fit-content;
    padding: 1px 4px;
}
.image-wrapper2 {
  background-color: white;
    width: fit-content;
    padding: 0;
}